@import 'google-fonts';
@import 'bootstrap/scss/bootstrap';

body {
  background-color: #656d78;
  width: 100%;
  overflow-x: hidden;
}

main {
  margin: 0 auto;
  margin-left: 100px;
}

select {
  display: inline-block;
  border-radius: 10px;
}

label span {
  color: rgb(0, 0, 0);
  padding-left: 20px;
  display: inline-block;
}

nav {
  background-color: #0d6efd;
}

img {
  max-width: 100%;
}

.book {
  background-color: white;
  width: 300px;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.singleBook {
  background-color: white;
  width: 400px;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.book b span {
  display: inline-block;
  width: 130px;
}

.bookContainer {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 20px;
}

#collapseExample {
  margin-top: 20px;
  margin-right: 135px;
  margin-left: 10px;
}